@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles below */
body {
  background-color: #f3f4f6;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
